######################################
# Build folders
######################################
bin/
obj/
out/

######################################
# Visual Studio
######################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

######################################
# Rider / VS Code
######################################
.vscode/
.idea/

######################################
# Logs
######################################
*.log
logs/

######################################
# OS files
######################################
.DS_Store
Thumbs.db

######################################
# Publish / Artifacts
######################################
publish/
wwwroot/dist/
wwwroot/lib/

######################################
# NuGet
######################################
packages/
*.nupkg
*.snupkg

######################################
# Entity Framework
######################################
*.bak

######################################
# Environment files (لو عندكم أسرار)
######################################
appsettings.Development.json
.env
